body{
     margin:0;
    padding: 0;
   
    font-family: cursive;
    color:#fff;
 
}
fieldset
{
   
      background: rgba(0, 0, 0, 0.7);
    width:500px;
    border-radius: 9px;
    margin: 0 auto;
    margin-top: 100px;
    
    
}
#userNameDefine,#passwordDefine,#ConfirmpasswordDefine,#ConfirmEmailDefine,#emailDefine,#FullNameDefine,#image{
    color:white;
    display: none;
}
fieldset #uname:hover{
    dispaly:block;
}
fieldset label
{
    
   
   margin:0 auto;
   
   
    display: table;
    width:70%;
        
    font-weight: bold;
}
legend{
  background: rgba(0, 0, 0, 0.7);
   padding: 10px;
    border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
   
}
.plus
{
    background: #2980b9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  color: white;
border-radius: 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
fieldset input {

margin: 0 auto;
}
input[type=file]
{
 padding: 12px 12px;
border: none;
  border-bottom: 2px solid whitesmoke;
  width: 70%;
  margin-left: 72px;

  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;   
}
input[type=text],select,input[type=email],input[type=password] {
 
  padding: 12px 12px;
border: none;
  border-bottom: 2px solid whitesmoke;
  width: 70%;
  margin-left: 72px;
  background:none;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;  
}

input[type=submit]
{
    background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-size: 1em;
  padding: 10px;
  color:white;

  border: 2px solid #1A1110;
  border-radius: 20px/50px;
  text-decoration: none;
  margin-left: 72px;
  width:70%;
  top:10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

 input[type=submit]:hover {
      background-color:#214FC6;
 
 color:lightskyblue;
}

a{
    text-decoration: none;
  
 color:white;
 width: 70%;
   padding:10px;
  height: auto;
  overflow: hidden;
    transition: all 0.3s ease-out;
}
a:hover {
     
 
 color:lightskyblue;
}
